body {
    display:flex;
    flex-direction: column;
    line-height: 2em;
    align-items: center;
    width:100vw;
    height:100vh;

}

.ourstory {
    display:flex;
    flex-direction: column;
    justify-items: center;
    margin: 0em 2em;
    // padding: 2em 10em;
    @media (min-width: 426px) {
        margin: 0em 1em;
            }



    img {
        width: 80vw;
        padding-top: 2em;
    }

    p {
        font-size: 1.5em;
        margin: 0;
        padding: 0;
        
    }

    div {
        text-align: center;
        font-size: 1.2em;
    }   


}
.img {
    display:flex;
    justify-content: center;
}



h1 {
    font-weight: lighter;
    font-size: 2em;
    padding-bottom: 2em;
    text-align: left;
}

h2 {
    font-weight: lighter;
    font-size: 1.8em;
}





    